@media (min-width: 320px) and (max-width: 480px) {
  .game-panel {
    width: 320px;
    margin: 10px auto; }
    .game-panel .titlePanel {
      display: none; }
    .game-panel .fleetHolder {
      position: relative;
      display: block;
      height: 80px; }
      .game-panel .fleetHolder .fleetStatus .fleetRemaining {
        position: absolute;
        display: block;
        left: 90px;
        margin: 0px;
        padding: 20px; }
      .game-panel .fleetHolder .fleetStatus .fleetCaption {
        position: absolute;
        display: block;
        left: 260px;
        top: 3px;
        width: 10px; }
      .game-panel .fleetHolder .fleetStatus .img-placeholder {
        position: absolute;
        top: 3px;
        left: 3px;
        vertical-align: middle;
        height: 74px;
        width: 90px; }
    .game-panel .inputContainer {
      display: block;
      height: 230px;
      width: 320px; }
      .game-panel .inputContainer .buoys-used {
        height: 75px; }

  .controls {
    position: relative;
    display: block;
    margin: 5px; }
    .controls .game-button-main {
      position: relative;
      display: inline-block; }
    .controls #torpedo {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px; } }
@media (min-width: 481px) and (max-width: 767px) {
  .game-panel {
    width: 480px;
    height: 400px;
    margin: 20px auto; }
    .game-panel .titlePanel {
      display: block; }
    .game-panel .fleetHolder {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 240px;
      margin: 0px 5px;
      vertical-align: top; }
      .game-panel .fleetHolder .fleetStatus {
        position: relative;
        display: inline-block; }
        .game-panel .fleetHolder .fleetStatus .fleetRemaining {
          position: relative;
          display: block;
          margin: 5px auto;
          width: 50px;
          font-size: 0.75em; }
        .game-panel .fleetHolder .fleetStatus .fleetCaption {
          position: relative;
          display: block;
          margin: 5px auto;
          width: 50px; }
        .game-panel .fleetHolder .fleetStatus .img-placeholder {
          position: relative;
          display: block;
          margin: 5px auto;
          height: 80px;
          width: 90px; }
    .game-panel .inputContainer {
      display: inline-block;
      height: 240px;
      width: 320px;
      vertical-align: top; }
      .game-panel .inputContainer .buoys-used {
        height: 75px; }

  .controls {
    position: relative;
    display: block;
    margin: 5px; }
    .controls #torpedo {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px; }
    .controls .torpedo {
      display: inline-block; } }
@media (min-width: 768px) {
  .game-panel {
    width: 80%;
    margin: 20px auto; }
    .game-panel .titlePanel {
      display: block; }
    .game-panel .fleetHolder {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 270px;
      margin: 0px 5px;
      vertical-align: top; }
      .game-panel .fleetHolder .fleetStatus {
        position: relative;
        display: inline-block; }
        .game-panel .fleetHolder .fleetStatus .fleetRemaining {
          position: relative;
          display: block;
          margin: 5px auto;
          width: 50px;
          font-size: 0.75em; }
        .game-panel .fleetHolder .fleetStatus .fleetCaption {
          position: relative;
          display: block;
          margin: 5px auto;
          width: 50px; }
        .game-panel .fleetHolder .fleetStatus .img-placeholder {
          position: relative;
          display: block;
          margin: 5px auto;
          height: 80px;
          width: 90px; }
    .game-panel .inputContainer {
      display: inline-block;
      width: 400px;
      height: 270px;
      vertical-align: top; }
      .game-panel .inputContainer .buoys-used {
        height: 110px; }
    .game-panel .controls {
      display: inline-block;
      width: 90px;
      height: auto;
      text-align: center; }
      .game-panel .controls .game-button-main {
        margin: 5px; }
    .game-panel #torpedo {
      position: relative;
      left: -404px;
      width: 400px;
      display: none;
      height: 50px;
      margin: 5px auto; } }
body {
  background-image: url("bg_landscape.jpg");
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: helvetica, arial, courier; }

.freezing {
  color: aqua; }

.cold {
  color: blue; }

.warm {
  color: orange; }

.hot {
  color: crimson; }

#intro-panel {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto; }
  #intro-panel .intro-panel-wrapper {
    position: relative;
    display: block;
    margin: 0px auto;
    width: 90%;
    text-align: center; }
    #intro-panel .intro-panel-wrapper .intro-panel-header {
      position: relative;
      display: block;
      width: 80%;
      margin: 40px auto; }
    #intro-panel .intro-panel-wrapper .intro-panel-detail {
      position: relative;
      display: block;
      margin: 10px auto;
      width: 80%;
      color: white; }
      #intro-panel .intro-panel-wrapper .intro-panel-detail p {
        text-align: left;
        padding: 10px;
        background-color: rgba(12, 54, 100, 0.5);
        box-shadow: 0px 4px 10px gray; }

.game-panel {
  position: relative;
  display: block;
  padding: 10px;
  height: 450px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  .game-panel .titlePanel {
    position: relative; }
    .game-panel .titlePanel h3 {
      color: white; }
  .game-panel .fleetHolder {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 400; }
    .game-panel .fleetHolder .fleetStatus {
      position: relative;
      display: block;
      margin: 0px auto;
      color: #1eff00; }
      .game-panel .fleetHolder .fleetStatus .fleetRemaining h1 {
        margin: 0px; }
      .game-panel .fleetHolder .fleetStatus .fleetCaption h3 {
        margin-top: 15px; }
      .game-panel .fleetHolder .fleetStatus .img-placeholder img {
        position: relative;
        margin: 25px auto;
        width: 100%; }
  .game-panel .inputContainer {
    position: relative;
    background-color: rgba(65, 65, 65, 0.55);
    text-align: center; }
    .game-panel .inputContainer input {
      margin: 15px auto;
      height: 100px;
      width: 50%;
      text-align: center;
      font-size: 3em;
      border-radius: 10px;
      color: #1eff00;
      border: 1px solid #1eff00;
      background-color: rgba(0, 0, 0, 0.5);
      transition: background-color 0.5s;
      -webkit-transition: background-color 0.5s; }
    .game-panel .inputContainer input:focus {
      outline: none;
      background-color: rgba(64, 64, 64, 0.5); }
    .game-panel .inputContainer #userMessage {
      position: absolute;
      display: none;
      bottom: 0px;
      left: 0px;
      z-index: 500;
      width: 100%;
      height: 50%; }
      .game-panel .inputContainer #userMessage h3 {
        position: relative;
        display: block;
        margin: 10px; }
    .game-panel .inputContainer .freezing {
      background-color: rgba(0, 0, 255, 0.75);
      color: rgba(255, 255, 255, 0.9); }
    .game-panel .inputContainer .reallyCold {
      background-color: rgba(255, 212, 212, 0.75);
      color: rgba(255, 255, 255, 0.9); }
    .game-panel .inputContainer .cold {
      background-color: rgba(0, 0, 255, 0.75); }
    .game-panel .inputContainer .gettingHotter {
      background-color: rgba(255, 169, 169, 0.75); }
    .game-panel .inputContainer .hot {
      background-color: red; }
    .game-panel .inputContainer .inputError {
      background-color: red;
      color: white; }
    .game-panel .inputContainer .hint {
      background-color: yellow;
      color: black; }
    .game-panel .inputContainer .buoys-used {
      position: relative;
      display: block;
      margin: 5px auto;
      width: 90%;
      border: 1px solid #1eff00;
      background-color: rgba(0, 0, 0, 0.5);
      overflow-y: scroll; }
      .game-panel .inputContainer .buoys-used p .guess {
        position: relative;
        margin: 0px;
        padding: 5px;
        font-size: 1.2em; }
  .game-panel #torpedo {
    outline: none;
    border: 1px solid black;
    background-color: red;
    transition: background-color 0.1s color 0.1s box-shadow 0.1s;
    -webkit-transition: background-color 0.1s color 0.1s box-shadow 0.1s; }
  .game-panel #torpedo:active {
    background-color: #FF2F00;
    color: white;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5) inset; }
  .game-panel .controls .game-button-main {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 1px solid black;
    transition: all 0.1s;
    -webkit-transition: all 0.1s; }
  .game-panel .controls .game-button-main:focus {
    outline: none; }
  .game-panel .controls .game-button-main:active {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5) inset; }
  .game-panel .controls .hint {
    background-color: #ffc600; }
  .game-panel .controls .ping {
    background-color: green; }
  .game-panel .controls .reset {
    background-color: orangered; }
  .game-panel .controls .ping:active {
    background-color: lightgreen; }
  .game-panel .controls .hint:active {
    background-color: khaki; }
  .game-panel .controls .reset:active {
    background-color: darkorange; }

/*# sourceMappingURL=fsgg.css.map */
